{% extends 'base.html' %}
{% load static %}
{% block content %}<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color Generator</title>
</head>
<body>
    <div class="dark-bg-custom">
        <center>
            <a class="btn btn-primary btn-lg" href="{% url 'color' %}" role="button">Generate a new color</a><br><br>
                    <canvas width=300 height=150 id="canvas"></canvas>
<!--                          <input type="color" id="favcolor" name="favcolor" value="#ff0000"><br><br>-->
                    <h3 class="text-light font-weight-bold">
                        <u>Hex Value</u>
                        <br/>
                        <h5 class="text-light">#{{ hex }}</h5>
                    <h3 class="text-light font-weight-bold">  
                        <br/>
                        <u>RGB Value</u>
                        <br/>
                        <h5 class="text-light">{{ rgb }}</h5>
                    </h3>


        </center>
    </div>
<script>
    var canvas = document.getElementById("canvas");
var ctx = canvas.getContext("2d");
ctx.fillStyle = "#{{ hex }}";
ctx.fillRect(0, 0, canvas.width, canvas.height);
</script>
</body>
</html>
{% endblock %}