{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Generator</title>
</head>
<div class="dark-bg-custom">
<center>
<form method="POST" action="">
    {% csrf_token %}
    <h3 class="text-light font-weight-bold"> Password Requirement:  <input type="number" name="length" required></h3><br>
    <button class="btn btn-primary btn-lg">Generate a new Password</button>
</form>
<br/>
<br/>
<h3 class="text-light"> {{ data }}</h3>
</center>

</div>

</html>
{% endblock %}